.card {
    width: fit-content;
    height: fit-content;
    background-color: #1e2c51;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 12px;
    padding-bottom: 12px;
}

.card_img {
    width: 170px;
    max-width: 100%;
    cursor: pointer;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card:hover {
    transform: scale(1.1);
}

.card_text {
    width: 170px;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #eff9fe
}