.main_board_container{
    max-width: 100%;
    background-image: url('../assets/images/background.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}


.main_board_flex{
    max-width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

}


.main_board {
    max-width: 100%;
    padding: 5rem;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: auto; 
    grid-auto-flow: column;
    gap: 3rem;
}
